---
title: PEAU DE BANANE - COLORFUL BOARDBAG
---


<div class="main-wrapper">
    <header class="header header--bg">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to "PEAU DE BANANE", "#Pdb" %></li>
              <li><%= link_to "BOARDBAGS", "#boardbag" %></li>
              <li><%= link_to "PRICE", "#price" %></li>
              <li><%= link_to "BLOG", "#blog" %></li>
              <li><%= link_to "CONTACT", "#contact" %></li>
            </ul>
          </div>
        </nav>
        <div class="header__content text-center">
          <%= image_tag "logo.svg", id: "logo" %>
          <h1 class="header__content__title">BOARDBAGS</h1>
          <p class="header__content__paragraph">Discover the colorful Boardbag</p>
          <a class="button button--margin-right button--hover" href="#">LARN MORE</a>
        </div>
      </div>
    </header>

    <section class="service">
      <div class="container">
        <div class="page-section text-center" id="pdb">
          <h2 class="page-section__title">EXPLORE</h2>
          <p class="page-section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

          <video controls="" src="video/pdb_blue.mp4" type="video/mp4" autoplay="true" loop="true" muted="true"></video>
          </div>
        </div>
      </div>
    </section>

    <section class="contact contact--bg">
      <div class="container">
        <div class="page-section text-center">
          <h2 class="page-section__title--white">We work with our customer to make better boardbag</h2>
          <p class="page-section__paragraph--white">If you like our works, contact us now</p>
          <a class="button button--hover" href="#">CONTACT US</a>
        </div>
      </div>
    </section>

    <section class="service">
      <div class="container">
        <div class="page-section text-center" id="boardbag">
          <h2 class="page-section__title">BOARDBAGS</h2>
          <p class="page-section__paragraph">We propose a 3 types of color</p>

          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

              <div class="item active">
                <%= image_tag "boardbag1.jpeg" %>
                <div class="carousel-caption">
                  <h3>Hendaye Model </h3>
                  <p>The blue of the bask country</p>
                </div>
              </div>

              <div class="item">
                <%= image_tag "boardbag1.jpeg" %>
                <div class="carousel-caption">
                  <h3>Essaouira Model</h3>
                  <p>The yellow of the marrocan desert</p>
                </div>
              </div>

              <div class="item">
                <%= image_tag "boardbag1.jpeg" %>
                <div class="carousel-caption">
                  <h3>Malé Model</h3>
                  <p>the Green of the maldivian island</p>
                </div>
              </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          </div>
        </div>
      </div>
    </section>

    <section class="contact contact--bg">
      <div class="container">
        <div class="page-section text-center">
          <h2 class="page-section__title--white">Surfing is about dream</h2>
        </div>
      </div>
    </section>

      <div class="container" id="price">
        <section class="price">
          <div class="page-section page-section--small text-center">
            <h2 class="page-section__title">PRICE</h2>
            <p class="page-section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <div class="price__panel-wrapper">
              <div class="row gutters-50">
                <div class="col-md-4">
                  <div class="panel text-center">
                    <div class="panel-heading">
                      <h4 class="price__title">Classic board</h4>
                      <h1 class="price__ammount">&#36;<span class="price__ammount--number">120</span> &#47;€</h1>
                    </div>
                    <div class="panel-body">
                      <p>Max to 6'7</p>
                      <p>20mm protection</p>
                      <p>strap</p>
                      <p>Available in 3 colors</p>
                    </div>
                    <div>
                      <a class="panel__button" href="#">GET MY BOARDBAG</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel text-center">
                    <div class="panel-heading">
                      <h4 class="price__title">Big board</h4>
                      <h1 class="price__ammount">&#36; <span class="price__ammount--number">249</span> &#47;Year</h1>
                    </div>
                    <div class="panel-body">
                      <p>More than 6'7</p>
                      <p>20mm protection</p>
                      <p>strap</p>
                      <p>Available in 3 colors</p>
                    </div>
                    <div>
                      <a class="panel__button" href="#">GET MY BOARDBAG</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel text-center">
                    <div class="panel-heading">
                      <h4 class="price__title">Personalized</h4>
                      <h1 class="price__ammount">&#36; <span class="price__ammount--number">459</span> &#47;Year</h1>
                    </div>
                    <div class="panel-body">
                      <p>any size</p>
                      <p>20mm protection or more</p>
                      <p>strap</p>
                      <p>Color of your choice</p>
                    </div>
                    <div>
                      <a class="panel__button" href="#">GET MY BOARDBAG</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section class="contact contact--bg">
      <div class="container">
        <div class="page-section text-center">
          <h2 class="page-section__title--white">"Protect the fruit of you passion"</h2>
        </div>
      </div>
    </section>

      <div class="container" id="blog">
        <section class="blog">
          <div class="page-section">
            <div class="text-center">
              <h2 class="page-section__title">OUR BLOG</h2>
              <p class="page-section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="row gutters-50">
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="assets/images/blog-pic1.png" target="_blank">
                    <img class="img-responsive" src="assets/images/blog-pic1.png" alt="">
                    <div class="caption">
                      <h3 class="blog__title">Global Traffic Search</h3>
                      <p class="blog__paragraph">By Jhon Doe <span class="blog__paragraph--slash">&#47;</span> 12 July, 2017 <span class="blog__paragraph--slash">&#47;</span> 2 Comments</p>
                      <h4 class="blog__read-more">READ MORE</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="assets/images/blog-pic2.png" target="_blank">
                    <img class="img-responsive" src="assets/images/blog-pic2.png" alt="">
                    <div class="caption">
                      <h3 class="blog__title">Global Traffic Search</h3>
                      <p class="blog__paragraph">By Jhon Doe &#47; 12 July, 2017 &#47; 2 Comments</p>
                      <h4 class="blog__read-more">READ MORE</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="assets/images/blog-pic3.png" target="_blank">
                    <img class="img-responsive" src="assets/images/blog-pic3.png" alt="">
                    <div class="caption">
                      <h3 class="blog__title">Global Traffic Search</h3>
                      <p class="blog__paragraph">By Jhon Doe &#47; 12 July, 2017 &#47; 2 Comments</p>
                      <h4 class="blog__read-more">READ MORE</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <footer class="footer footer--bg" id="contact">
        <div class="container">
          <div class="page-section">
            <div class="row gutters-100">
              <div class="col-md-4 col-lg-3">
                <div class="footer__first">
                  <h2 class="footer__title">PEAU DE BANANE</h2>
                  <p class="footer-first__paragraph">Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
                  <ul class="footer-first__social-icons">
                    <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                    <li><a href="#"><i class="flaticon-twitter-logo"></i></a></li>
                    <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
                    <li><a href="#"><i class="flaticon-behance-logo"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="footer__third">
                  <h2 class="footer__title">CONTACT US</h2>
                  <ul>
                    <li><span class="glyphicon glyphicon-envelope"></span> <a href="#">dartagency@gmail.com</a></li>
                    <li><span class="glyphicon glyphicon-earphone"></span> <a href="#">+0123-345-6789</a></li>
                  </ul>
                  <h4 class="footer__subscribe__title">Subscribe</h4>
                  <div class="subscribe-section">
                    <input type="email" class="form-control" size="50" placeholder="Enter Your Email" required>
                    <button class="subscribe-section__button" type="button"><img src="assets/images/send-icon.png" alt=""></button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="footer__fourth">
                  <h4 class="footer__title">INSTAGRAM</h4>
                  <div class="row">
                    <ul>
                      <li><a href="#"><img src="assets/images/instagram-pic1.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/instagram-pic2.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/instagram-pic3.png" alt=""></a></li>
                    </ul>
                  </div>
                  <div class="row">
                    <ul>
                      <li><a href="#"><img src="assets/images/instagram-pic4.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/instagram-pic5.png" alt=""></a></li>
                      <li><a href="#"><img src="assets/images/instagram-pic6.png" alt=""></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <hr class="footer__horizontal-bar">
            <p class="footer__bottom-paragraph">&copy; Copyright 2017 <a href="#" style="color: #00aafe;font-weight:bold;">PEAU DE BANANE</a>. All Rights Reserved</p>
          </div>
        </div>
      </footer>
  </div>


